*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Baloo Tammudu 2', cursive;
}
div#container{
    width: 60%;
    background-color: #EBEAE6;
    margin: auto;
}
ul{
    background-color: #363636;
    list-style-type: none;
    text-align: center;
}
a{
    text-decoration: none;
    color: #d6cfcf;
}
a:hover{
    opacity: 0.6;
}
li{
    display: inline-block;
    margin:10px 25px;
}
h2{
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}
img{
    width: 80%;
    box-shadow: 0 2px 8px 2px rgba(20,23,28,0.15);
}
div.image{
    width: 40%;
    float: left;
    text-align: center;
}
div.text{
    width: 60%;
    float: left;
    text-align: center;
    
}
.clear{
    overflow: auto;
}
p{
    margin:35px 0;
}
input{
    width: 260px;
    background-color: #F88E37;
    color: #ffffff;
    border-radius: 5px;
    border-color: #F88E37;
    cursor: pointer;
    margin-bottom: 10px;
}
input:hover{
    opacity: 0.6;
}
div.footer{
    background-color: #011926;
    color: #ffffff;
    text-align: center;
    padding: 5px;
}